Source: spark2
Section: misc
Priority: optional
Maintainer: Andrew Otto <otto@wikimedia.org>
Build-Depends: debhelper (>= 9), zip, unzip
Standards-Version: 3.9.3
Homepage: https://spark.apache.org

Package: spark2
Architecture: all
Depends: java8-runtime-headless, ${misc:Depends}
Description: Spark 2
 This is a binary distribution of Spark 2.  This package can be installed
 alongside of an existing Spark 1 installation.  Spark executables are renamed
 to have 'spark2' in the name.  This package only installs libary files and
 executable scripts; it does not include init scripts to run Spark daemons
 in standalone mode.
